# App's running environment
NODE_ENV="development"

# App's running port
PORT="4040"

# Is CORS Enabled
CORS_ENABLED=true

# API Prefix
API_PREFIX="api"

# PostgreSql connection string
DB_CONNECTION_STRING="postgres://postgres:root@localhost:5432/hs"