{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "importOrder": [
    "^@utils/(.*)$",
    "^@config/(.*)$",
    "^@middlewares/(.*)$",
    "^@root/(.*)$",
    "^@services/(.*)$",
    "^@shared/(.*)$",
    "^@riders/(.*)$",
    "^@drivers/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}